.chat-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 600px !important;
}

textarea {
  width: 100%;
}

#main-wrapper {
  display: none;
}

#btnSalir {
  position: relative;
  top: 50px;
  left: 66%;
}

#ingresarChat {
  position: relative;
  top: 100px;
  left: 50%;
}

.chat-main-box {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.chat-main-box .chat-left-aside {
  position: relative;
  width: 250px;
  float: left;
  z-index: 9;
  top: 0px;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.chat-main-box .chat-left-aside .chat-left-inner {
  position: relative;
}
.chat-main-box .chat-left-aside .chat-left-inner .chatonline {
  position: relative;
  height: 90%;
}
.chat-main-box .chat-left-aside .chat-left-inner .form-control {
  height: 100px;
  padding: 15px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none {
  padding: 0px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li {
  list-style: none;
  overflow: hidden;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a {
  padding: 20px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover,
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active {
  background: #ebf3f5;
}
.chat-main-box .chat-right-aside {
  width: calc(100% - 250px);
  float: left;
}
.chat-main-box .chat-right-aside .chat-rbox {
  height: auto;
  position: relative;
}
.chat-main-box .chat-right-aside .chat-list {
  max-height: none;
  height: 100%;
  padding-top: 50px;
}
.chat-main-box .chat-right-aside .chat-list .chat-text {
  border-radius: 6px;
}
.chat-main-box .chat-right-aside .send-chat-box {
  position: relative;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control {
  border: none;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  resize: none;
  height: 80px;
  padding-right: 180px;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control:focus {
  border-color: rgba(120, 130, 140, 0.13);
}
.chat-main-box .chat-right-aside .send-chat-box .custom-send {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.chat-list {
  margin: 0px;
  padding: 0px;
}
.chat-list li {
  list-style: none;
  margin-top: 30px;
}

.chat-list li .chat-content {
  width: calc(100% - 140px);
  display: inline-block;
  padding-left: 15px;
}
.chat-list li .chat-content h5 {
  color: #01070a;
}
.chat-list li .chat-content .box {
  display: inline-block;
  margin-bottom: 10px;
  color: #000000;
}
.chat-list li .chat-time {
  display: inline-block;
  text-align: right;
  width: 80px;
  font-size: 13px;
  color: #446ead;
}
.chat-list li.odd .chat-content {
  text-align: right;
  width: calc(100% - 90px);
}
.chat-list li.odd .box {
  clear: both;
}
.chat-list li.odd + .odd {
  margin-top: 0px;
}
.chat-list li.reverse {
  position: relative;
  top: 50px;
  left: 66%;  
}

.chat-list li.reverse .chat-content {
  padding-left: 0px;
  padding-right: 15px;
}



